body {
    text-align: center;
  }
  .img-hands {
    width: 300px;
  }
  
  .main-para {
    font-size: 1.5em;
    line-height: 1.5em;
  }
  #active {
    background-color: #ffffff;
    color: steelblue;
  }
  nav {
    background-color: #8C3712;
    padding: 10px;
  }
  a {
    color: #E4C5A6;
    margin: 40px;
  }
  h1 {
    color: #4B4626;
  }
  img {
    width: 800px;
    border: 4px solid #4B4626;
  }
  p {
    padding: 10px;
  }
  footer {
    background-color: #8C3712;
    color: white;
  }